:root {
  --navbar-footer-color: rgb(197, 197, 197);
  --text-title-color: #000000;
  --text-title-color-logo: #8b1d1d;
}

/* DAMOS PROPIEDADES AL BODY DE LA PÁGINA */
body {
  font-family: "Poppins", sans-serif;
  background-color: #fff;
}

.noscroll {
  position: fixed;
  overflow: hidden;
}

/* ----------------------------------  
   HEADER DEL HEADER
   ---------------------------------- */

.navbar.headerDelHeader {
  background-color: #fff;
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  font-weight: 900;
  color: black;
  padding: 0px;
  justify-content: flex-end;
}

@media (max-width: 768px) {
  .navbar.headerDelHeader {
    justify-content: center;
  }
}

.nav-link.headerDelHeader {
  color: black;
  font-size: 15px;
}

.nav-link.headerDelHeader:hover {
  color: #8b1d1d;
}

/* ----------------------------------  
IMAGEN DE HEADER
   ---------------------------------- */

.headerLogo {
  background-color: #fff;
  text-align: center;
  padding: 20px 0px;
}

/* ----------------------------------  
   BARRA DE NAVEGACIÓN (NAVBAR)
   ---------------------------------- */

.header-navbar {
  background-color: var(--navbar-footer-color);
  display: grid;
}

.header-navbar-nav {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  margin: 0px;
}

.header-navbar-img {
  display: flex;
  width: 45px;
  margin: 5px;
  align-content: center;
  position: end;
}

.header-navbar-menu {
  display: flex;
  list-style: none;
  margin: 0px;
  padding: 0px;
  align-items: center;
  justify-content: center;
}

.header-navbar-menu a {
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  font-weight: 900;
  text-decoration: none;
  justify-content: center;
  transition: all ease-in-out 0.2s;
}

.nav-link {
  color: var(--text-title-color);
}

.nav-link:hover {
  color: var(--text-title-color-logo);
}

.nav-link.ofertas {
  color: var(--text-title-color-logo);
}

.nav-link.ofertas:hover {
  color: #d41e1e;
}

.header-navbar-derecha {
  display: flex;
  width: auto;
}

.form-control {
  border-radius: 10px;
  width: 100%;
  height: 28px;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  font-family: "Poppins", sans-serif;
}

.form-control:focus {
  box-shadow: initial;
  border-color: var(--text-title-color-logo);
}

nav-mobile {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  z-index: 100;
  align-items: center;
}

nav-mobile a {
  width: 60px;
  margin-left: 10%;
  justify-content: end;
}

.mobile-nav-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.mobile-nav-buttons .header-navbar-menu {
  margin-left: 10px;
  margin-right: 10px;
}

.header-navbar-menu a {
  margin: 0%;
  width: 30px;
}

.hamburguer {
  display: block;
  width: 30px;
  cursor: pointer;
  appearance: none;
  background: none;
  outline: none;
  border: none;
  margin-right: 20px;
}

.hamburguer .bar,
.hamburguer:after,
.hamburguer:before {
  content: "";
  display: block;
  width: 100%;
  height: 5px;
  background-color: rgb(29, 29, 29);
  margin: 3px 0px;
  transition: 0.4s;
  border-radius: 10px;
}

.hamburguer.is-active:before {
  transform: rotate(-45deg) translate(-8px, 6px);
  background-color: var(--text-title-color-logo);
}

.hamburguer.is-active:after {
  transform: rotate(45deg) translate(-4px, -4px);
  background-color: var(--text-title-color-logo);
}

.hamburguer.is-active .bar {
  opacity: 0;
}

.mobile-nav {
  display: block;
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  min-height: 100vh;
  z-index: 98;
  background-color: var(--navbar-footer-color);
  padding-top: 80px;
  transition: 0.4s;
}

.mobile-nav.is-active {
  left: 0;
}

.mobile-nav .header-navbar-menu {
  display: block;
  text-align: center;
}

.mobile-nav a {
  text-align: left;
  width: 100%;
  max-width: 200px;
  margin: 0 20px 10px;
  padding-bottom: 12px 16px;
  background-color: rgb(187, 187, 187);
  border-radius: 4px;
}

.mobile-nav a:hover {
  transform: scale(1.05);
  box-shadow: 1px 1px 4px rgb(145, 145, 145);
}

@media (max-width: 768px) {
  .header-navbar-nav {
    display: none;
  }
  .header-navbar-img,
  .headerLogo {
    display: none;
  }
  .headerDelHeader {
    z-index: 120;
  }
}

/* ----------------------------------  
   ÍCONOS DE GOOGLE (GOOGLE FONTS)
   ---------------------------------- */
.material-icons {
  color: black;
  padding: 6px;
  font-size: 22px;
  transition: all ease-in-out 0.2s;
}

.material-icons:hover {
  color: var(--text-title-color-logo);
}

/* ----------------------------------  
   CONTENEDORES DE TITULOS HOME
   ---------------------------------- */

.contenedor-text {
  width: 100%;
  height: 80px;
  background-color: #ffffff;
  padding-top: 2%;
  padding-left: 8%;
  padding-right: 8%;
}

.contenedor-text-style {
  color: black;
  font-family: "Oswald", sans-serif;
  font-size: 100 pt;
}

/* ----------------------------------  
   CONTENEDORES DE CARTAS CON MUJER, HOMBRE Y MUJER
   ---------------------------------- */

@media only screen and (min-width: 1450px) {
  .contenedor-imagenes {
    width: 100%;
    height: 583px;
    padding-left: 7%;
    padding-right: 7%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}

@media only screen and (max-width: 1449px) and (min-width: 976px) {
  .contenedor-imagenes {
    width: 100%;
    height: 1196px;
    padding-left: 7%;
    padding-right: 7%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}

@media only screen and (max-width: 975px) {
  .contenedor-imagenes {
    width: 100%;
    height: 1880px;
    padding-left: 7%;
    padding-right: 7%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}

.contenedor-imagenes-style {
  width: 100%;
  height: 583px;
  position: relative;
  z-index: 1;
}

.borde-imagen {
  width: 95.13%;
  height: 81%;
  border: 2.5px solid #ffffff;
  position: relative;
  top: -1125px;
  left: 10px;
  z-index: 2;
}

.texto-imagen {
  font-family: "Comfortaa", bold;
  font-size: 50pt;
  color: rgb(255, 255, 255);
  position: relative;
  top: -1215px;
  left: 15px;
  z-index: 3;
  text-shadow: 1px 1px 5px black;
}

.contenedor-imagenes-aux {
  width: 100%;
  height: 81%;
  border: 0px solid #ffffff;
  position: relative;
  top: -553px;
  z-index: 4;
}

.contenedor-imagenes-aux:hover ~ .borde-imagen {
  transition: all ease-in-out 0.2s;
  background-color: #61171493;
  border: 0px solid #61171493;
}

/* ----------------------------------  
   FOOTER NUEVOS ESTILOS
   ---------------------------------- */

footer.nuevo {
  display: grid;
  padding: 50px, 100px;
  background-color: var(--navbar-footer-color);
  justify-content: center;
}

footer .container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  margin: 0px;
}

footer .container .seccion-image {
  margin: auto;
  width: 70%;
  padding-bottom: 30px;
}

footer .container .seccion-footer h3 {
  color: black;
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  font-weight: 900;
  position: relative;
  margin-bottom: 15px;
  cursor: default;
  transition: all ease-in-out 0.2s;
}

footer .container .seccion-footer h3::before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0px;
  width: 50px;
  height: 2px;
  background-color: var(--text-title-color-logo);
}

.ul-footer-nuevo,
.ul-footer-nuevo-redes {
  margin-top: 20px;
  display: grid;
  grid-gap: 10px;
  padding: 0px;
  line-height: 18px;
}

.ul-footer-nuevo li,
.ul-footer-nuevo-redes li {
  list-style: none;
}

.ul-footer-nuevo li a,
.ul-footer-nuevo-redes li a {
  font-family: "Comfortaa", bold;
  font-weight: 700;
  color: black;
  font-size: 14px;
  text-decoration: none;
  transition: all ease-in-out 0.2s;
}

.ul-footer-nuevo li a i,
.ul-footer-nuevo-redes li a i {
  transition: all ease-in-out 0.2s;
  display: inline-block;
  width: 35px;
  height: 35px;
  background-color: black;
  display: grid;
  align-content: center;
  justify-content: center;
  border-radius: 5px;
  color: white;
  font-size: 22px;
}

.footer-copyright {
  align-items: center;
  text-align: center;
  justify-content: center;
  font-family: "Comfortaa", bold;
  font-size: 11px;
  font-weight: 700;
  background-color: rgb(170, 170, 170);
}

.ul-footer-nuevo li a i:hover {
  background-color: var(--text-title-color-logo);
}

.links-footer {
  position: relative;
}

.links-footer li a:hover {
  color: rgb(33, 33, 33);
  text-decoration: underline;
}

@media (max-width: 991px) {
  footer .container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  footer .container {
    text-align: center;
    grid-template-columns: repeat(1, 1fr);
  }
  footer .container .seccion-footer h3::before {
    margin-left: 43%;
    margin-right: auto;
  }
  .ul-footer-nuevo-redes {
    justify-content: center;
    align-items: center;
    display: flex;
  }
  .ul-footer-nuevo li a i {
    margin: auto;
  }
  .seccion-image {
    display: none;
  }
}

/* ----------------------------------  
   BANNER OFERTAS
   ---------------------------------- */

.contenedor-imagenes2 {
  width: 100%;
  height: 250px;
}

.imagenes2 {
  width: 100%;
  height: 250px;
  position: relative;
  z-index: 1;
}

.cuadro-ofertas2 {
  width: 100%;
  height: 100%;
  background-color: #14612500;
  position: relative;
  top: -500px;
  z-index: 2;
}

.cuadro-ofertas {
  height: 80%;
  border-radius: 25px;
  background-color: #61171493;
  position: relative;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 25px;
  top: -750px;
  z-index: 3;
}

@media only screen and (max-width: 835px) {
  .texto-ofertas1 {
    font-family: "Comfortaa", bold;
    font-size: 10pt;
    color: rgb(255, 255, 255);
    text-align: center;
    position: relative;
    top: -64px;
    z-index: 4;
  }
}
@media only screen and (min-width: 834px) {
  .texto-ofertas1 {
    font-family: "Comfortaa", bold;
    font-size: 13pt;
    color: rgb(255, 255, 255);
    text-align: center;
    position: relative;
    top: -64px;
    z-index: 4;
  }
}

.texto-ofertas2 {
  font-family: "Comfortaa", bold;
  font-size: 13pt;
  color: rgb(255, 255, 255);
  text-align: center;
  position: relative;
  left: -83px;
  top: 11px;
  z-index: 4;
}

.texto-ofertas3 {
  font-family: "Comfortaa", bold;
  font-size: 9pt;
  color: rgb(255, 255, 255);
  text-align: center;
  position: relative;
  top: -64px;
  z-index: 4;
}
.texto-ofertas4 {
  font-family: "Comfortaa", bold;
  font-size: 80pt;
  color: rgb(255, 255, 255);
  text-align: center;
  position: relative;
  top: -24px;
  z-index: 4;
}

.cuadro-ofertasaux {
  width: 100%;
  height: 100%;
  background-color: #2f146100;
  position: relative;
  top: -250px;
  z-index: 5;
}

.cuadro-ofertasaux:hover ~ .cuadro-ofertas2 {
  background-color: #61171493;
}

.cuadro-ofertasaux:hover ~ .cuadro-ofertas {
  background-color: #61171400;
}

/* ----------------------------------  
   CARTAS ZAPATOS
   ---------------------------------- */

/* CONTENEDOR GENERAL DE EN DÓNDE VAN LAS CARTAS*/
.contenedor-card-zapatos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 30px 0px;
}

/* CONTENEDOR INDIVIDUAL DE LAS CARTAS 
   En el div donde se pone este selector, se contendrán todos
   los elementos necesarios como imagen, texto, descripsción
   y botones.
*/
.card {
  width: 15rem;
  transition: all ease-in-out 0.2s;
  margin: 16px;
  border-radius: 8px;
}

.card:hover {
  transform: scale(1.05);
}

/* PROPIEDADES DE LA IMAGEN */
.card-img-top {
  height: 100%;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}

/* TITULO DEL ZAPATO */
.card-title {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  font-weight: 900;
}

/* DESCRIPCIÓN DEL PRODUCTO */
.card-text {
  color: grey;
}

/* PRECIO DEL PRODUCTO */
.card-precio {
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  font-weight: 900;
  justify-content: center;
  text-align: center;
  color: var(--text-title-color-logo);
}

.btn-bg {
  background-color: black;
  color: #fff;
  padding: 2px 12px;
}

.btn {
  transition: all ease-in-out 0.2s;
}

.btn:hover {
  transform: scale(1.1);
  background-color: var(--text-title-color-logo);
  color: #fff;
}

/* ESTILO PARA ARREGLAR LA SELECCIÓN DE VÍNCULOS */
.cursor-link-clicker {
  cursor: pointer;
}

@media (max-width: 900px) {
  .card {
    width: 10rem;
  }
  .card-img-top {
    height: 50%;
    width: 100px;
  }
  .card-title {
    font-size: 18px;
    margin-bottom: 4px;
  }
  .card-text {
    font-size: 14px;
    margin-bottom: 4px;
  }
  .card-precio {
    font-size: 14px;
  }
  .btn {
    font-size: 10px;
  }
  .card-body {
    padding: 0px 8px 8px;
  }
}

/* ----------------------------------  
   BANNER CATEGORÍAS
   ---------------------------------- */

.categoria-style-text {
  padding-left: 67%;
  align-items: center;
  justify-content: end;
  text-shadow: 1px 1px 3px black;
  font-family: "Comfortaa", bold;
  font-weight: 900;
  font-size: 40px;
  color: white;
  display: flex;
}

.categoria-style {
  display: flex;
  width: 100%;
}

.categoria-style.mujeres {
  background-image: url(/img/mujerBanner.jpg);
  background-repeat: no-repeat;
  background-size: 110%;
  background-position-x: 100%;
  background-position-y: 20%;
  height: 45vh;
}

.categoria-style.hombres {
  background-image: url(/img/hombreBanner.jpg);
  background-repeat: no-repeat;
  background-size: 110%;
  background-position-x: 100%;
  background-position-y: 30%;
  height: 45vh;
}

.categoria-style.ninos {
  background-image: url(/img/ninoBanner.jpg);
  background-repeat: no-repeat;
  background-size: 110%;
  background-position-x: 100%;
  background-position-y: 20%;
  height: 45vh;
}

.categoria-style.ofertas {
  background-image: url(/img/ofertaBanner.jpg);
  background-repeat: no-repeat;
  background-size: 110%;
  background-position-x: 100%;
  background-position-y: 35%;
  height: 45vh;
}

@media (max-width: 768px) {
  .categoria-style.mujeres,
  .categoria-style.hombres,
  .categoria-style.ninos,
  .categoria-style.ofertas {
    background-size: 100%;
  }
  .categoria-style-text {
    padding: 0%;
    margin-left: auto;
    margin-right: auto;
    align-items: bottom;
    justify-content: end;
    text-shadow: 2px 2px 3px black;
  }
}

/* ----------------------------------
   LOGIN COMIENZA
   ---------------------------------- */

.contenedor-card-login {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.card-login-border {
  /*Tamaño cuadro iniciar sesion*/
  width: 55vh;
  padding: 32px;
  border-radius: 15px;
}

.card-login-border.login {
  /*Tamaño cuadro iniciar sesion*/
  height: 431.47px;
  justify-content: center;
}

.card-login-title {
  /* Texto de titulo Iniciar sesion*/
  font-family: "Comfortaa", bold;
  font-weight: 900;
  color: var(--text-title-color-logo);
  text-align: center;
  padding-top: 6px;
  padding-bottom: 6px;
}

.card-login-text {
  font-family: "Comfortaa", bold;
  font-weight: 900;
  color: rgb(0, 0, 0);
  height: (300px);
}

.btn.boton-login {
  /* Boton Iniciar sesion*/
  width: 190px;
  padding: 2px;
  border-radius: 12px;
  border-color: var(--text-title-color-logo);
  background-color: var(--text-title-color-logo);
  font-family: "Comfortaa", bold;
  font-weight: 900;
}

.btn.boton-signup {
  /* Texto de titulo Iniciar sesion*/
  width: 250px;
  padding: 2px;
  border-radius: 12px;
  border-color: var(--text-title-color-logo);
  background-color: var(--text-title-color-logo);
  font-family: "Comfortaa", bold;
  font-weight: 900;
}

.card-login-button {
  display: flex;
  justify-content: center;
}

/* ----------------------------------
   QUIENES SOMOS
------------------------------------ */

.quienes-somos-container {
  margin: 20px 200px;
}

.quienes-somos-title {
  background-color: var(--text-title-color-logo);
  padding-left: 50px;
  margin: 60px 0% 20px 0%;
  height: 6vh;
  width: 100%;
  display: flex;
  align-items: center;
  font-family: Oswald;
  font-size: 25px;
  color: white;
  border-radius: 3px;
  transition: all ease-in-out 0.2s;
}

.quienes-somos-paragraph {
  padding: 20px 50px;
  background-color: rgb(228, 228, 228);
  font-family: Comfortaa;
  font-weight: 900;
  font-size: 12px;
  border-radius: 3px;
  margin-bottom: 20px;
  transition: all ease-in-out 0.2s;
}

.quienes-somos-paragraph h2 {
  font-family: Oswald;
  font-size: 22px;
}

.quienes-somos-paragraph:last-of-type {
  margin-bottom: 60px;
}

.quienes-somos-paragraph-text {
  margin-top: 20px;
  margin-bottom: 0px;
  font-weight: 300;
}

@media (max-width: 800px) {
  .quienes-somos-container {
    margin: 0px 100px;
  }
  .quienes-somos-title {
    padding-left: 20px;
  }
  .quienes-somos-paragraph {
    padding-left: 20px;
  }
}

@media (max-width: 500px) {
  .quienes-somos-container {
    margin: 0px 20px;
  }
}

.quienes-somos-paragraph:hover {
  transform: scale(1.01);
  box-shadow: 1px 1px 4px -1px;
}

.quienes-somos-title:hover {
  transform: scale(1.01);
  box-shadow: 1px 1px 4px -1px black;
}

/* ----------------------------------
   TIENDAS
------------------------------------ */

.google-maps {
  position: relative;
  padding-bottom: 75%;
  overflow: hidden;
}
.google-maps iframe {
  position: absolute;
  width: 100%;
  height: 100%;
}
.tiendas-container {
  margin: 60px 100px;
}

.tiendas-title {
  background-color: var(--text-title-color-logo);
  padding-left: 50px;
  margin: 60px 0% 0%;
  height: 6vh;
  width: 100%;
  display: flex;
  align-items: center;
  font-family: Oswald;
  font-size: 25px;
  color: white;
  border-radius: 3px;
  transition: all ease-in-out 0.2s;
}

/* ----------------------------------
   Acuerdos
------------------------------------ */

.acuerdos-container {
  margin: 20px 200px;
}

.acuerdos-paragraph {
  padding: 20px 50px;
  background-color: rgb(228, 228, 228);
  font-family: Comfortaa;
  font-weight: 900;
  font-size: 12px;
  border-radius: 3px;
  margin-bottom: 20px;
  transition: all ease-in-out 0.2s;
}

.acuerdos-paragraph h2 {
  font-family: Oswald;
  font-size: 22px;
}

.acuerdos-paragraph:last-of-type {
  margin-bottom: 60px;
}

.acuerdos-paragraph-text {
  margin-top: 20px;
  margin-bottom: 0px;
  font-weight: 300;
}

@media (max-width: 800px) {
  .acuerdos-container {
    margin: 0px 100px;
  }

  .acuerdos-paragraph {
    padding-left: 20px;
  }
}

@media (max-width: 500px) {
  .acuerdos-container {
    margin: 0px 20px;
  }
}

.acuerdos-paragraph:hover {
  transform: scale(1.01);
  box-shadow: 1px 1px 4px -1px;
}

/* ----------------------------------
    EXHIBICIÓN DEL PRODUCTO
------------------------------------ */

.contenedor-producto-exhibido {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  margin: 30px;
  border-radius: 5px;
  box-shadow: 0px 0px 4px rgb(230, 230, 230);
}

.producto-exhbido-imagen {
  display: flex;
  justify-content: center;
  align-items: center;
}

.producto-exhbido-imagen img {
  margin: 10%;
  width: 80%;
}

.producto-exhibido-texto-contenedor {
  font-family: "Oswald", sans-serif;
  margin: 30px;
}

.producto-exhibido-texto-contenedor h1 {
  font-size: 40px;
  font-weight: 900;
  margin: 0px;
}

.producto-exhibido-texto-descripcion {
  color: grey;
  font-size: 20px;
}

.producto-exhibido-texto-contenedor2 {
  margin-bottom: 16px;
}

.producto-exhibido-texto-precio1,
.producto-exhibido-texto-precio2 {
  display: inline;
  font-size: 26px;
  font-weight: 900;
  color: var(--text-title-color-logo);
}

.producto-exhibido-texto-precio2 {
  text-decoration: line-through;
  font-size: 22px;
  color: var(--text-title-color);
  font-weight: 200;
}

.producto-exhibido-texto-id {
  font-weight: 500;
  color: rgb(97, 97, 97);
  margin: 0px;
}

.btn-producto-exhibido {
  font-size: 20px;
  padding: 40px, 0px;
  margin-top: 30px;
  margin-bottom: 24px;
}

.producto-exhibido-texto-descripcion {
  font-family: Comfortaa;
  font-size: 14px;
  color: black;
}

@media (max-width: 800px) {
  .producto-exhbido-imagen img {
    margin: 0px;
  }
  .contenedor-producto-exhibido {
    grid-template-columns: 1fr;
  }
  .producto-exhibido-texto-contenedor {
    margin-bottom: 0px;
  }
  .producto-exhibido-texto-contenedor:last-of-type {
    margin-top: 0px;
  }
}
